@import url("../../../../../shared/constants.scss");

.OurServicesItem-wrapper {
  width: 270px;
  height: 150px;
  flex-shrink: 0;
  border: 2px solid #1e1e1e;
  border-radius: var(--borderRadius);
  background: #1e1e1e;
  color: var(--gray);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 17px 31px 20px;
  cursor: pointer;
  transition: var(--transition);
  &_active {
    color: var(--primaryColor);
    transition: var(--transition);
    border: 2px solid var(--primaryColor);
  }
  .OurServicesItem-title {
    width: 200px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    @media screen and (max-width: 1200px) {
      font-size: 12px;
    }
  }
  .OurServicesItem-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .OurServicesItem-period {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
    > .OurServicesItem-price {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    width: 90%;
  }
}
