.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  margin-top: 30px;
  width: 348px;
}
.select-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
