@import url("../../../../../shared/constants.scss");

.OurServices-external-wrapper {
  margin-top: 101px;
  width: var(--containerWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  .OurServices-title {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
  }
  .OurServices-description {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    width: 972px;
    margin-left: 56px;

    // width: 332px;
  }
  .OurServices-wrapper {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    width: var(--containerWidth);
    flex-wrap: wrap;
    gap: 30px;
  }
}
