@import url("../../../../../shared/constants.scss");
.advantage-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
  cursor: pointer;
  .advantage-title {
    font-weight: bold;
    font-size: 16px;
    color: #bdbdbd;
    transition: var(--transition);
    width: 210px;
    @media screen and (max-width: 1200px) {
      font-size: 12px;
      width: 100%;
      text-align: center;
      color: #fff;
    }
  }
  .advantage-title_active {
    color: var(--primaryColor);
    transition: var(--transition);
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    gap: 10px;
  }
}
