@import url("../../../../shared/constants.scss");
.wrapper {
  width: var(--containerWidth);
  max-width: 1600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 1200px) {
    max-width: 90vw;
  }
}
